[submodule "vendor/picojson"]
	path = vendor/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "vendor/liboauthcpp"]
	path = vendor/liboauthcpp
	url = https://github.com/sirikata/liboauthcpp.git
[submodule "vendor/curlcpp"]
	path = vendor/curlcpp
	url = https://github.com/JosephP91/curlcpp.git
